<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((message) => { %>
      <span class="message">
        <span>
          <p class="dateTime"><%= message.added.toLocaleString() %></p>
          <p class="name"><%= message.user %></p>
        </span>
        <p class="messageText"><%= message.text %></p>
      </span>
    <% }); %>
  </body>
</html>
